html, body {
  margin: 0;
  padding: 0;
  background-color: green;
}
canvas {
  display: block;
}
.dan {
    font-size: 6.4vmin;
    font-weight: 600;
    width: 100%;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: normal;
    display: flex;
    flex-direction: column;
}
